<!-- fragment 5 start -->
<table class="w-full">
  <tr>
     <td class="text-2xl text-primary font-semibold text-center pt-[24px] pb-[12px]">
        Stay Updated with Our Newsletter
     </td>
  </tr>
  <tr>
     <td class="px-[20px] py-[12px] text-sm text-[#444444] text-center">
        <p class="mb-6">Get the latest updates, tips, and exclusive offers directly to your inbox.</p>
        <input 
           type="email" 
           placeholder="Enter your email" 
           class="p-3 rounded-lg border border-[#ddd] mb-4 w-[80%]"
           />
        <br />
        <button class="bg-primary text-white py-3 px-6 rounded-lg text-lg">
        Subscribe Now
        </button>
     </td>
  </tr>
</table>
<!-- fragment 5 end -->