<!-- fragment 2 start -->

<table class="w-full">
  <tr>
     <td class="text-xl text-primary font-bold py-4 text-center">
        User Information Tokens
     </td>
  </tr>
  <tr>
     <td class="px-6 py-4 text-sm text-[#333333] text-center">
        <table class="w-full">
           <tr>
              <td class="bg-primary text-white font-bold py-2 px-4">Token</td>
              <td class="bg-primary text-white font-bold py-2 px-4">Description</td>
           </tr>
           <tr>
              <td class="p-[12px]">
                 {{userName}} <br />
                 {{userEmail}} <br />
                 {{userPhone}}
              </td>
              <td class="p-[12px]">
                 User's full name <br />
                 User's email address <br />
                 User's phone number
              </td>
           </tr>
        </table>
     </td>
  </tr>

</table>
<!-- fragment 2 end -->