<table class="w-full">
  <tr>
     <td class="pt-4 pb-[21.41px]">
        <table class="bg-[#f0f5f5] w-full mt-[-0.5px]">
           <tr>
              <td class="pt-9.5 pb-[26px] w-full">
                 <table class="w-full">
                    <tr>
                       <td class="pb-5 pl-[7.25px]">
                          <table class="w-full">
                             <tr>
                                <td class="text-[#005555] text-2xl font-bold leading-[27.6px] text-center m-0 p-8"
                                   style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                                   Sint cupidatat occaecat ut
                                </td>
                             </tr>
                             <tr>
                                <td class="pt-4 pl-5 pr-5">
                                   <table class="w-full">
                                      <tr class="flex flex-row sm:flex-col text-center items-center gap-6 sm:gap-8">
                                         <!-- Card 1 -->
                                         <td class="w-full sm:w-[270px] md:w-[270px] lg:w-[270px] bg-white max-w-[600px]">
                                            <table class="bg-white w-full h-[325px] card-container">
                                               <tr>
                                                  <td class="pt-6 w-full h-[299px] card flex flex-col items-center text-center">
                                                     <table class="w-[270px]">
                                                        <tr>
                                                           <td class="text-center align-top h-[107.5px]">
                                                              <x-image class="w-[100px] card-image" imgUrl="image-8.png"/>
                                                           </td>
                                                        </tr>
                                                        <tr>
                                                           <td class="pt-2.5 h-[30.62px] text-center text-[#005555] text-[20px] font-bold leading-[23px] m-0"
                                                              style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                                                              Nisi ut ade
                                                           </td>
                                                        </tr>
                                                        <tr>
                                                           <td class="pt-3 px-[23.73px] text-center text-[#444444] text-[16px] font-normal leading-[18.4px] m-0"
                                                              style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹
                                                           </td>
                                                        </tr>
                                                     </table>
                                                  </td>
                                               </tr>
                                            </table>
                                         </td>
                                         <!-- Card 2 -->
                                         <td class="w-full sm:w-[270px] md:w-[270px] lg:w-[270px] bg-white max-w-[600px]">
                                            <table class="bg-white w-full h-[325px] card-container">
                                               <tr>
                                                  <td class="pt-6 w-full h-[299px] card flex flex-col items-center text-center">
                                                     <table class="w-[270px]">
                                                        <tr>
                                                           <td class="text-center align-top h-[107.5px]">
                                                              <x-image class="w-[100px] card-image" imgUrl="image-8.png"/>
                                                           </td>
                                                        </tr>
                                                        <tr>
                                                           <td class="pt-2.5 h-[30.62px] text-center text-[#005555] text-[20px] font-bold leading-[23px] m-0"
                                                              style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                                                              Duis aute irure
                                                           </td>
                                                        </tr>
                                                        <tr>
                                                           <td class="pt-3 px-[23.73px] text-center text-[#444444] text-[16px] font-normal leading-[18.4px] m-0"
                                                              style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.²
                                                           </td>
                                                        </tr>
                                                     </table>
                                                  </td>
                                               </tr>
                                            </table>
                                         </td>
                                      </tr>
                                   </table>
                                </td>
                             </tr>
                          </table>
                       </td>
                    </tr>
                 </table>
              </td>
           </tr>
        </table>
     </td>
  </tr>
</table>