<table class="w-full bg-white">
  <tr>
     <td class="pt-[16px] pb-[9.99px] pl-[19px] pr-[19px] text-black text-[12px] font-normal">
        <span class="font-bold" style="font-family: Arial; font-size: 12px; font-weight: 700; line-height: 13.8px; text-align: left; text-underline-position: from-font; text-decoration-skip-ink: none;">
        Ut enim ad minim:<br />
        </span>
        <span class="font-normal" style="font-family: Arial; font-size: 12px; font-weight: 400; line-height: 13.8px; text-align: left; text-underline-position: from-font; text-decoration-skip-ink: none;">
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <br /><br />
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <br /><br />
        </span>
        <span class="font-bold" style="font-family: Arial; font-size: 12px; font-weight: 700; line-height: 13.8px; text-align: left; text-underline-position: from-font; text-decoration-skip-ink: none;">
        Sint occaecat cupidatat:<br /><br />
        </span>
        <table class="m-0 pl-[1.5em]">
           <tr>
              <td class="text-left text-[12px] font-normal" style="font-family: Arial; line-height: 13.8px; text-underline-position: from-font; text-decoration-skip-ink: none;">
                 <ol class="list-decimal pl-[1.5em] m-0">
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</li>
                 </ol>
              </td>
           </tr>
        </table>
     </td>
  </tr>
</table>