<table class="w-full">
  <tr>
    <td colspan="2" class="px-4 py-2">
      <x-image class="w-full max-w-full h-auto" imgUrl="image-9.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="py-[10.68px] pb-[10.5px] text-center">
      <span
        class="text-black text-[12px] font-normal leading-[13.8px] m-0"
        style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;"
      >
        Sed do eiusmod tempor incididunt ut labore
      </span>
    </td>
  </tr>
  <tr>
    <td align="center" class="pt-[10.5px]">
      <table class="w-[100px] h-[40px] mx-auto">
        <tr>
          <td class="w-full h-full">
            <x-image class="w-full max-w-full h-auto pb-2" imgUrl="image-10.png" href="#" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
