<table class="w-full">
  <!-- First Row: Logo and Text -->
  <tr class="flex items-center">
     <td class="px-4 py-2 flex-shrink-0 sm:ml-2">
        <!-- Left side: Logo -->
        <x-image class="w-[100px]" imgUrl="image-6.png" href="#" />
     </td>
     <td class="pt-2 pr-[5.3rem] pb-0 pl-4 sm:pl-[0.9rem] pr-[0.5rem]  text-xs font-normal leading-[13.8px]  w-full sm:w-[100%]" 
        style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
        <!-- Right side: Text -->
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     </td>
  </tr>
</table>