<table class="w-full">
  <!-- Image Section -->
  <tr>
     <td colspan="2" class="px-4 py-2">
        <x-image class="w-full max-w-full h-auto" imgUrl="image-7.png" href="#" />
     </td>
  </tr>
  <!-- Heading Section -->
  <tr>
     <td class="text-[#005555] text-2xl font-bold text-center py-4 leading-[27.6px]" style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
        Excepteur sint occaecat cupidatat
     </td>
  </tr>
  <!-- Description Section -->
  <tr>
     <td class="text-[#444444] text-base font-normal text-center px-12 py-4 leading-[18.4px]" style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     </td>
  </tr>
  <tr>
     <td align="center" class="pt-3.5 pb-7.5 mb-4">
        <table class="bg-teal-600 w-[350px] h-[46px] rounded-lg mb-8" cellpadding="0" cellspacing="0" border="0" role="presentation">
           <tr>
              <td valign="middle" class="w-full h-full text-center">
                 <span class="text-white text-lg font-bold leading-[23px]" style="font-family: Arial; text-underline-position: from-font; text-decoration-skip-ink: none;">
                 Ut enim ad minim veniam
                 </span>
              </td>
           </tr>
        </table>
     </td>
  </tr>
</table>